.accleratorContainer{
    background-image: url('./Images/Circles.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
}
.Hero{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,  url('./Images/AyobaHero_11zn.png');
  background-size: cover;
}
  .mainContainer{
    background-image: url('./Images/Rectangle.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: contain;
  } 

  .successContainer{
    padding: 20px 30px;
    height: 99vh;
    width: 100%;
    background-image: url('./Images/successMsg.png');
    background-repeat: no-repeat;
    background-position: 99% 1.5%;
    background-size: 100% 80%;
  }

  @media (max-width: 520px){
    .successContainer{
      /* background-size: 100% 99%; */
      /* background-position: 90%; */
      background-position: top;
      background-size: 100% 40%;
    }
  }


@media (max-width: 520px) {
    .mainContainer {
      display: flex;
    }
  }
  

  @media (max-width: 520px) {
    .Hero{
      background-size: cover;
      background-position: 63% 50%;
    }
  }

  @media (max-width: 1024px) and  (min-width: 840px)  {
.Hero{

}
  }
  
  