.accleratorContainer{
    background-image: url('./Images/Circles.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
}
.Hero{
    background-image: url('./Images/Hero.png');
    /* background-image: url('./Images/IMG_4298.jpg');  */
    background-size: cover;
    /* background-size: contain; */
}
  .mainContainer{
    background-image: url('./Images/Rectangle.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: contain;


  } 
@media (max-width: 520px) {
    .mainContainer {
      display: flex;
    }
  }
  

  @media (max-width: 520px) {
    .Hero{
      background-size: cover;
      background-position: 63% 50%;
    }
  }

  @media (max-width: 1024px) and  (min-width: 840px)  {
.Hero{

}
  }
  
  